* {
  box-sizing: border-box;
}

nav {
  margin-bottom: 1em;
}

main > * {
  display: none;
}

main > .active {
  display: initial;
}

.card{
  width: 18rem;
  padding:0;
}

body{
  background-image: url("https://media.gettyimages.com/photos/shes-the-cutest-baby-ever-picture-id519624386");
  background-color: #cccccc;
  background-size: cover;
  background-repeat: no-repeat;
}

#clear-me{
  opacity: .4;
}

#clear-me:hover{
  opacity: 1;
}

button {
  margin: .5em;
}
