<section class>
  <app-alert></app-alert>
  <div class>
    <form (ngSubmit)="addUser(f)" #f="ngForm">

    <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="myModalLabel">Create Account</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>

          <div class="modal-body">
              <div class="form-group">
                <input type="email" name="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email" required ngModel>
                <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
                <input type="text" name="username" class="form-control" id="exampleInputUserName1" placeholder="Enter Username" required ngModel>
                <input type="password" name="password" class="form-control" id="exampleInputPassword1" placeholder="Enter Password" required ngModel>
              </div>
              <div>

              </div>
              <button class="btn btn-primary mb-2" type="submit button" id="submit" routerLink="/login" [disabled]="!f.valid">Sign Up</button>
              <!-- <button type="submit" id="submit" class="btn btn-primary float-right"  data-dismiss="modal">Create New Account</button> -->
              <button type="button" class="btn btn-secondary float-right" data-dismiss="modal">Cancel</button>
          </div>
        </div>
      </div>
    </div>
  </form>

    <div class="card text-center mx-auto" id="clear-me">
      <div class="card-header">
        Login
      </div>
      <div class="card-body">
        <form>
          <div class="form-group">
            <label for="exampleInputUserName2">Username</label>
            <input type="text" class="form-control" id="exampleInputUserName2" placeholder="Enter Username" [(ngModel)]="username"
              [ngModelOptions]="{standalone: true}">
          </div>
          <div class="form-group">
            <label for="exampleInputPassword2">Password</label>
            <input type="password" class="form-control" id="exampleInputPassword2" placeholder="Password" [(ngModel)]="password"
              [ngModelOptions]="{standalone: true}">
          </div>
          <button type="submit" class="btn btn-primary" (click)="onLoginClick()">Submit</button>
          <button class="btn btn-dark" type="button" data-toggle="modal" data-target="#myModal">Create Account</button>
        </form>
      </div>
      <div class="card-footer" id="logout">
        <button class="btn btn-danger" type="button" (click)="onLogoutClick()">Log Out</button>
      </div>
    </div>
  </div>

</section>
