<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
<div class="card-deck" id="clear-me">
  <div class="card text-center mx-auto">
    <div class="card-header">
      <h3>Modify Account</h3>
    </div>
    <div class="card-body">
      <form (ngSubmit)="updateAccount(f)" #f="ngForm">
        <div class="form-group">
          <label for="exampleInputPassword1">New Password</label>
          <input type="password" name="password" class="form-control" id="exampleInputPassword1" placeholder="Password" ngModel>
        </div>
        <button type="submit" id="submit" class="btn btn-primary"> Update </button>
      </form>
    </div>
  </div>


  <div class="card text-center mx-auto" id="clear-me">
    <div class="card-header">
      <h3>Modify Children</h3>
    </div>
    <div class="card-body">
      <button class="btn btn-primary btn-block" type="button" data-toggle="modal" data-target="#addChildModal">Add New
        Child</button>
      <button class="btn btn-danger btn-block" type="button" data-toggle="modal" data-target="#deleteChildModal">Delete
        Child</button>
    </div>
  </div>
</div>

<div class="modal fade" id="addChildModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="myModalLabel">Add Child</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form (ngSubmit)="onAddChild(g)" #g="ngForm">
          <div class="form-group row">
            <label for="firstName"> First Name </label>
            <div class="col-sm-8">
              <input type="text" name="firstname" class="form-control" id="firstName" ngModel>
            </div>
          </div>
          <div class="form-group row">
            <label for="lastName"> Last Name </label>
            <div class="col-sm-8">
              <input type="text" name="lastname" class="form-control" id="lastName" ngModel>
            </div>
          </div>
          <div class="form-group row">
            <label for="radio1"> Gender </label>
            <div class="col-sm-8">
              <input type="radio" name="gender" value="male" id="radio1" ngModel> Male<br>
              <input type="radio" name="gender" value="female" ngModel> Female<br>
              <input type="radio" name="gender" value="other" ngModel> Other<br>
            </div>
          </div>
          <div class="form-group date row">
            <label for="birthday"> Birthday </label>
            <div class="col-sm-8">
              <input type="date" name="birthday" id="birthday" ngModel>
            </div>
          </div>
          <div class="form-group date row">
              <label for="photo"> Photo </label>
              <div class="col-sm-8">
                <input type="text" name="photo" id="photo" class="form-control" ngModel>
              </div>
          </div>
          <textarea name="about" class="form-control" id="about" cols="50" rows="8" placeholder="Write something about your child." ngModel></textarea>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
            <button type="submit" class="btn btn-primary">Submit</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="deleteChildModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="myModalLabel">Delete Child</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form (ngSubmit)=onDeleteChild(d) #d="ngForm">
          <div class="form-group">
            <label for="deleteChildDropdown">Choose Child to Remove</label>
            <select name="deletelist" class="form-control" ngModel>
              <option *ngFor="let child of children"> {{ child.firstName }} </option>
            </select>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
            <button type="submit" class="btn btn-primary">Submit</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>

<div class="footer">
  <button class="btn btn-secondary" (click)="goBack()">go back</button>
</div>
