<div class="card-body">
  <form>
    <div class="form-group">
      <label for="exampleInputEmail1">New Email address</label>
      <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email">
      <small id="emailHelp" class="form-text text-muted">Example: person@website.com</small>
    </div>
    <div class="form-group">
      <label for="exampleInputPassword1">New Password</label>
      <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password">
    </div>
    <button type="submit" class="btn btn-primary"> Update </button>
    <button class="btn btn-dark" type="button" data-toggle="modal" data-target="#myModal">Create Account</button>
  </form>
</div>

<div class="card-body">

</div>
