/* MessagesComponent's private CSS styles */
h2 {
  color: red;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: lighter;
}
body {
  margin: 2em;
}
body, input[text], button {
  color: white;
  font-family: Cambria, Georgia;
}
button:hover {
  background-color: #cfd8dc;
}
button:disabled {
  background-color: #eee;
  color: #aaa;
  cursor: auto;
}
textarea {
  width: 100%;
}
.card {
  background: clear;
}

#sel1 {
  margin-bottom: .5em;
  transform: scale(.95, 1);
}
#sel2 {
  margin-bottom: .5em;
  transform: scale(.95, 1);
}
#link {
  margin-bottom: .5em;
}
#delBtn {
  margin-left: .5em;
}
#postPhoto {
  max-width: 15rem;
  max-height: 15rem;
  margin-right: 1rem;
}
