<!-- <div *ngIf="children">

  <img src="babyDefaultProfile.png">
  <h2>{{children.firstName}} {{children.lastName}}</h2>
  <h3>{{children.gender}}</h3>
  <h3>{{children.birthday}}</h3>
  <app-post></app-post>
  <button (click)="goBack()">go back</button>
</div> -->
<div>
  <div *ngFor="let child of children">
    <!-- <span> {{ child.id }} </span> -->
    <div *ngIf="child.id == 1">
      <div class="Jumbotron">
          <h2 class="display-4"> {{ child.firstName }} {{ child.lastName }} </h2>
          <p>{{child.gender}}<br>{{child.birthday}}</p>
      </div>
        <app-post></app-post>
    </div>
  </div>
</div>


<div>
  <button (click)="goBack()">go back</button>
</div>
