<nav class="navbar navbar-dark bg-primary justify-content-between navbar-fixed-top" *ngIf="!isUserLoggedIn" style="border-radius: .5em;">
  <a class="navbar-brand h1 mt-2" href="">Babybook</a>
  <button class="loggedIn btn btn-primary" type="button" routerLink="/dashboard">Dashboard</button>
  <button class="loggedIn btn btn-primary" type="button" routerlink="/modify-account">Modify Account</button>
  <button class="btn btn-dark loggedIn" type="button" routerlink="/login">Log Out</button>
  <button class="btn btn-dark" type="button" routerLink="/login">Login</button>
</nav>
<!-- <nav class="navbar navbar-dark bg-primary justify-content-between navbar-fixed-top" *ngIf="isUserLoggedIn" style="border-radius: .5em;">
  <a class="navbar-brand h1 mt-2" href="">Babybook</a>
  <a routerLink="/dashboard">Dashboard</a>
  <a routerLink="/children">Children</a>
  <a routerlink="/modify-account">Modify Account</a>
  <a routerlink="/login">Log Out</a>
</nav> -->
<router-outlet></router-outlet>
<!-- <app-post></app-post> -->
