<nav class="navbar navbar-dark bg-primary justify-content-between navbar-fixed-top" *ngIf="!isUserLoggedIn" style="border-radius: .5em;">
  <a class="navbar-brand h1 mt-2" href="">Babybook</a>
  <button class="loggedIn btn btn-primary" type="button" routerLink="/dashboard">Dashboard</button>
  <button class="btn btn-primary loggedIn" type="button" routerLink="/modify-account">Modify Account</button>
  <button class="btn btn-dark loggedIn" type="button" routerLink="/login">Log Out</button>
</nav>
<router-outlet></router-outlet>
